body,h1,h2,h3,h4,h5,h6,p,dl,dd,
ul,ol,pre,form,input,textarea,
th,td,select {
	margin: 0; 
	padding:0;
	font-size: 12px;
	font-family: "微软雅黑";
}
body,html {
	width: 100%;
	height: 100%;
	min-width: 320px;
	border: 0;
	background: #FFFFFF;
	overflow: hidden;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: none;
	vertical-align: top;
}
.clear {
	zoom: 1;}
.clear:after {
	content: "";
	display: block;
	clear: both;
}
/*loading页面开始*/
#loading {
	z-index: 99999999;
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	opacity: 1;
}

#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #000;
	-webkit-animation: rotateplane 3s infinite ease-in-out;
	-moz-animation: rotateplane 3s infinite ease-in-out;
	animation: rotateplane 3s infinite ease-in-out;
}

#spinner img {
	position: relative;
	top: 25.5px;
	display: block;
	margin: 0 auto;
	-webkit-animation: logo 3s infinite ease-in-out;
	-moz-animation: logo 3s infinite ease-in-out;
	animation: logo 3s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}

	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
}

@-moz-keyframes rotateplane {
	0% {
		-moz-transform: perspective(120px);
	}

	50% {
		-moz-transform: perspective(120px) rotateY(180deg);
	}

	100% {
		-moz-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}
}

@keyframes rotateplane {
	0% {
		-webkit-transform: perspective(120px) rotateX(0) rotateY(0);
		transform: perspective(120px) rotateX(0) rotateY(0);
	}

	50% {
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
	}

	100% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-webkit-keyframes logo {
	0% {
		-webkit-transform: perspective(1px) rotateZ(0);
	}

	50% {
		-webkit-transform: perspective(1px) rotateZ(0);
	}

	74% {
		-webkit-transform: rotateZ(0);
	}

	76% {
		-webkit-transform: rotateZ(-180deg);
	}

	100% {
		-webkit-transform: perspective(1px) rotateZ(-180.1deg);
	}
}

@-moz-keyframes logo {
	0% {
		-moz-transform: perspective(1px) rotateZ(0);
	}

	50% {
		-moz-transform: perspective(1px) rotateZ(0);
	}

	74% {
		-moz-transform: rotateZ(0);
	}

	76% {
		-moz-transform: rotateZ(-180deg);
	}

	100% {
		-moz-transform: perspective(1px) rotateZ(-180.1deg);
	}
}

@keyframes logo {
	0% {
		transform: perspective(1px) rotateZ(0);
	}

	50% {
		transform: perspective(1px) rotateZ(0);
	}

	74% {
		transform: rotateZ(0);
	}

	76% {
		transform: rotateZ(-180deg);
	}

	100% {
		transform: perspective(1px) rotateZ(-180.1deg);
	}
}
/*loading页面结束*/
#wrapBox {
	position: relative;
	width:100%;
	height: 100%;
	-webkit-perspective: 1200px;
    -webkit-transition: .3s;
    z-index: 0;
}
.bottom{
	-webkit-transform-origin:50% 100%;
	-webkit-animation:lq_qiehbottom 0.5s both ease;
}
.top{
	-webkit-transform-origin:50% 0;
	-webkit-animation:lq_qiehtop 0.3s both ease;
}
.delay180{
	-webkit-animation-delay:.180s;
}
@-webkit-keyframes lq_qiehbottom{
	to{
		visibility: hidden;
		-webkit-transform:rotateX(90deg);
	}
}
@-webkit-keyframes lq_qiehtop{
	from{
		visibility: hidden;
		-webkit-transform:rotateX(-90deg);
	}
}
.active {
	color: #cc406b;
}

.left {
	left: -170px;
}

.wrap1 {
	visibility: hidden;
	z-index: 9999;
	transition: .5s;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
}
.show {
	visibility: visible;
}
#divImg {
	position: absolute;
	width: 100%;
	height: 100%;
}
#divImg a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#divImg a:nth-of-type(1){
	z-index: 6;
}
#divImg img{
	width: 100%;
	height: 100%;
}

.navLeft img{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 100;
	cursor: pointer;
	transition: 0.1s;
}
.navLeft .imgClosed{
	display: none;
}
.navLeft .openHover {
	display: none;
}
.navLeft .closedHover {
	display: none;
}
#p1 {
	width: 280px;
	height: 24px;
	font-size:14px;
	line-height: 24px;
	color: #a1a1a1;
	position: absolute;
	top:106px;
	left:20px;
	z-index: 100;
	/*visibility: visible;*/
}
#p2 {
	width: 372px;
	height: 12px;
	font-size:12px;
	line-height: 12px;
	color: #a1a1a1;
	position: absolute;
	top:130px;
	left:20px;
	z-index: 100;
}
/*右侧文字*/
#divP {
	z-index: 100;
	height: 50px;
	position: absolute;
	top: 20px;
	right: 240px;
	
}
.p {
	z-index: 100;
	height: 12px;
	font-size:12px;
	line-height: 12px;
	color: #a1a1a1;
	text-align: right;
}
/*右上侧logo*/
#divB {
	width: 216px;
	height: 32px;
	background: #2d2d2d;
	position: absolute;
	top: 16px;
	right: 14px;
	font-size:14px;
	line-height: 32px;
	color: #ababab;
	text-indent: 50px;
	z-index: 100;
}
#divB img {
	width: 21px;
	height: 13px;
	position: absolute;
	top: 9px;
	left: 17px;
}
#divB:hover {
	background: #d0416d;
}
/*轮播导航按钮开始*/
#ulNav {
	width: 90px;
	height: 9px;
	position: absolute;
	top: 468px;
	left: 643px;
	z-index: 101;
}
#ulNav a{
	float: left;
	width: 9px;
	height: 9px;
	background: #a29fa9;
	border-radius: 50%;
	margin-right: 9px;

}
#ulNav .active1 {
	background: #96405a;
}
/*页面最下面的切换按钮开始*/
#navbtn img{
	width: 48px;
	height: 22px;
	position: absolute;
	top: 541px;
	left: 662px;
	z-index: 100;
}

#navbtn .pic1 {
	width: 42px;
	height: 22px;
	margin-left: 3px;
}
#navbtn .pic2 {
	width: 48px;
	height: 20px;
	display: none;
	
}
/*页面最下面的切换按钮结束*/
/*左侧导航box开始*/
#divBoxLeft {
	transition: .5s;
	width: 170px;
	height: 665px;
	position: absolute;
	left: 170px;
	top: 0;
	background: #000;
	z-index: 0;
	display: none;
	
}
#ulBoxLeft {
	width: 170px;
	height: 185px;
	margin-top: 40px;
	overflow: hidden;
}
#ulBoxLeft li {
	position: relative;
	width: 340px;
	text-align: center;
	height: 12px;
	margin: 20px 0;
}
#ulBoxLeft li a{
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	color: #f0f8f4;
	font-family: arial;
}
.pText {
	width:170px;
	float: left;
}
.pText1 {
	width:170px;
	float: left;
	z-index: 0;
	position: absolute;
	left: 170px;
}
#ulBoxLeft li .pText1 a{
	color: #cc406b;
}
.divHover {
	transition: .5s;
	width: 340px;
	position: absolute;
	top: 0;
	left: 0;
}
#erWeimMa {
	width: 72px;
	height: 60px;
	position: absolute;
	left: 50px;
	bottom: 87px;
	transition: .5s;
}
#erWeimMa img {
	width: 31px;
	height: 31px;
	margin-left: 20px;
}
.spanText {
	float: left;
	width: 72px;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	color: #ffffff;
	margin-top: 14px;
	text-align: center;
}
#erWeimMaHover {
	width: 72px;
	height: 60px;
	position: absolute;
	left: 50px;
	bottom: 87px;
	display: none;
}

.pTel {
	width: 170px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	height: 14px;
	color: #ffffff;
}
.p1 {
	position: absolute;
	bottom: 64px;
	left: 0;
}
.p2 {
	position: absolute;
	bottom: 45px;
	left: 0;
}
.p3 {
	position: absolute;
	bottom: 22px;
	left: 0;
}
.p3 a {
	width: 170px;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	height: 14px;
	color: #ffffff;
}
/*page2-page5的css*/
@media only screen and (max-width:768px) {
	#workbox .workshow,.work-size {
		width: 33.3%;
	}
}

@media only screen and (min-width:769px) {
	#workbox .workshow,.work-size {
		width: 25%;
	}
}

@media only screen and (min-width:1920px) {
	#workbox .workshow,.work-size {
		width: 20%;
	}
}
.screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	background: #fff;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
}
.main {
	
	position: relative;
	margin-left: 0;
	padding-left: 0;
	width: 100%;
	height: 100%;
	
}
.head {
	padding-bottom: 16px;
	height: 30px;
	min-width: 890px;
}
.copyright {
	position: relative;
	top: 16px;
	right: 14px;
	z-index: 2;
	float: right;
	overflow: hidden;
	width: 455px;
	height: 32px;
}
.memory_logo {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
}
.title {
	position: absolute;
	margin-left: 18px;
	padding-top: 65px;
	padding-bottom: 40px;
}
.copyright h2 {
	padding-bottom: 16px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 18px;
	font-family: Arial,Helvetica,sans-serif;
}
.bline {
	display: inline-block;
	margin-left: 20px;
	width: 195px;
	border-bottom: 1px solid #a1a1a1;
}
.spaceBox {
	margin-top: 120px;
}
#about_conwrap,#contact_conWrap4,#brandWrap5 {
	height:500px;
	overflow: hidden;
	position: relative;
}
#div_wrap,#div_wrap4{
	width: 890px;
	margin: auto;
}
#div1,#div11,#div111 {
	width: 10px;
	height: 500px;
	position: absolute;
	right: 0;
	background: #F4F4F4;
}
#div2,#div22,#div222 {
	width: 10px;
	height: 100px;
	border-radius: 20px;
	position: absolute;
	top:0;
	left: 0;
	background:#D0416D;
}
#div4{
	position: absolute;
	top:0;
	left:0;
}
.w890 {
	margin: 0 auto;
	width: 890px;
}
.w655 {
	position: relative;
	margin: 0 auto;
	width: 670px;
	
}

.title_bar {
	padding-top: 60px;
	padding-bottom: 30px;
	text-align: center;
}

.title-txt {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #5a5a5a;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
}
.china_txteng,.txteng {
	position: relative;
	margin-top: 50px;
	color: #a1a1a1;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: perpeta;
}
.txteng {
	position: absolute;
	top: 50px;
	right: -250px;
	width: 660px;
	opacity: 0;
}
.chinese {
	display: block;
	margin: 0 auto;
	width: 82px;
}
.china_txteng {
	margin-bottom: 50px;
	font-family: "微软雅黑";
	line-height: 24px;
}
.space-tb15 {
	margin-top: 15px;
	margin-bottom: 15px;
}
#china_txteng,#txteng {
	position: relative;
	margin-top: 50px;
	color: #a1a1a1;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: perpeta;
}

#china_txteng {
	margin-bottom: 50px;
	font-family: "微软雅黑";
	line-height: 24px;
}
#txteng {
	position: absolute;
	top: 195px;
	left: 256px;
	width: 670px;
	opacity: 0;
}

#china_txteng h1 {
	font-weight: 400;
	font-size: 14px;
	font-family: "微软雅黑";
}
/*page4的css*/
		.c666 {
			color: #666;
		}
		
		.f18 {
			font-size: 18px;
		}
		.clr {
			clear: both;
		}
		.mapicon {
			display: inline-block;
			width: 23px;
			height: 24px;
			background: url(../img/map.gif) no-repeat;
		}
		.btnmove {
			position: relative;
			display: block;
			overflow: hidden;
			margin: 20px auto;
			width: 188px;
			height: 31px;
			border: 2px solid #d0416d;
		}
		.mess_box {
			position: absolute;
			top:0;
			left:0;
			display: block;
			overflow: hidden;
			width: 231px;
			height: 66px;
			background: url(../img/btn_mess.gif) no-repeat;
			text-indent: -500px;
		}
		#english_text {
			position: absolute;
			top: 110px;
			right: -250px;
			font-weight: 400;
			font-family: perpeta;
			opacity: 0;
		}
		#china_text {
			position: relative;
			left: 0;
			font-family: "微软雅黑";
		}
		
		#china_text,#english_text {
			line-height: 20px;
			font-size: 18px;
		}
		.pWxin img{
			width: 100px;
			height: 100px;
			margin-top: 20px;
		}
		
/*page5的css*/
		.brand-list {
			padding-bottom: 80px;
		}
		
		.brand-list li {
			float: left;
			margin-top: 20px;
			width: 33.3%;
			text-align: center;
		}
		
		.brand-list li img {
			width: 150px;
			height: auto;
		}
/*page2的css*/
		.workshow a {
			display: block;
			background: #fff;
			text-decoration: none;
		}
		.workimg {
			display: block;
			margin: 0;
			width: 100%;
			transition: -webkit-transform 0.3s linear;
			transition: -moz-transform 0.3s linear;
		    transition: transform 0.3s linear;
		    -webkit-transform: scale(1);
		    -moz-transform: scale(1);
		    transform: scale(1);
		}
		.workshow p {
			font-size: 12px;
		}
		.workshow_mask {
			position: absolute;
			top: 0;
			background: #000;
			opacity: 0;
		}
		.workinfo {
			padding: 20px;
			height: 80px;
			background: url(../img/work_bg.gif) #f5f6f5 right no-repeat;
			color: #666;
			transition: background-color 0.5s, color 0.5s;
			-webkit-transition: background-color 0.5s, color 0.5s ;
			position: relative;
			z-index: 3;
		}
		.workeng {
			padding-bottom: 8px;
			text-transform: uppercase;
			font-size: 10px;
		}
		
		.workinfo h2 {
			padding-bottom: 16px;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 18px;
			font-family: Arial,Helvetica,sans-serif;
		}
		.work_img {
			display: block;
		}
		.work-imgbox{
			overflow: hidden;
		}
		#workbox {
			position: relative;
			padding-top: 80px;
			width: 100%;
			/*height: 100%;*/
		}
		#workbox .workshow {
			float: left;
			display: block;
			width: 25%;
			cursor: pointer;
		}
		.work-size {
			width: 25%;
		}
		#home_header {
			position: fixed;
			z-index: 100;
			width: 50px;
			height: 30px;
		}
		#work_conWrap {
			position: relative;
			/*overflow-y: auto;*/
			width: 100%;
			background: #fff;
		}
		#home_banner {
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: #000;
		}
		
		#home_banner .home_title {
			position: absolute;
			top: 109px;
			left: 0;
			z-index: 2;
			padding: 0;
		}
		
		#home_banner img.bannerimg {
			position: absolute;
			z-index: 1;
			height: 100%;
		}
		#home_banner .copyrbox {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			width: 455px;
			height: 32px;
		}
		
		#home_conWrap .copyright {
			right: 14px;
		}
		
		#work_conWrap .copyright {
			right: 0;
		}
		
		#work_detailwrap .copyright {
			right: 0;
		}
		
		#work_more {
			position: absolute;
			bottom: 60px;
			left: 50%;
			z-index: 3;
			margin-left: -50px;
			width: 100px;
			height: 50px;
			cursor: pointer;
		}
		.copyright {
			position: relative;
			top: 16px;
			right: 14px;
			z-index: 2;
			float: right;
			overflow: hidden;
			width: 455px;
			height: 32px;
		}
		#loadingwork {
			margin: 0 auto;
			width: 300px;
			height: 100px;
			background: url(../img/loading.gif) no-repeat center;
			color: #fff;
			text-align: center;
		}
		#divScroll3 {
			height:600px;
			overflow: hidden;
			position: relative;
			margin: 0 5px;
		}
		#divScroll4{
			position: absolute;
			top:0;
			left:5px;
			right: 5px;
		}
		#divScroll1{
			width: 10px;
			height: 600px;
			position: absolute;
			right: 0;
			background: #F4F4F4;
		}
		#divScroll2{
			width: 10px;
			height: 100px;
			border-radius: 20px;
			position: absolute;
			top:0;
			left: 0;
			background:#D0416D;
		}
		#workbox .workshow{
			position: relative;
		}
		#workbox .workshow:before{
			box-sizing: border-box;
			position: absolute;
			background: url(../img/view.png) no-repeat center;
		    content: '';
		    right: 30px;
		    left: 30px;
		    top: 30px;
		    bottom: 150px;
		   -webkit-transform: scale(1.4);
		    transform: scale(1.4);
		    opacity: 0;
		    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		    transition: opacity 0.35s, transform 0.35s;
		    z-index: 9999;
		}
		#workbox .workshow:hover:before{
			opacity: 1;
		    -webkit-transform: scale(1);
		    transform: scale(1);
		}

		#workbox .workshow:hover .workinfo{
			background-image: none;
			background-color: #d0416d;
			color: #fff;
		}
		#workbox .workshow .work-imgbox:before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			display: block;
			z-index: 3;
			background: rgba(0,0,0,0.8);
			opacity: 0;
			transition: opacity 0.35s;
		    -webkit-transition: opacity 0.35s;
		}
		#workbox .workshow:hover .work-imgbox:before{
			opacity: 1;
		}
		#workbox .workshow:hover .workimg{
			-webkit-transform: scale(1.1);
		    -moz-transform: scale(1.1);
		    transform: scale(1.1);
		}

		
